In [4]:
#!pip install pandas
#!pip install openpyxl

In [5]:
import pandas as pd

In [6]:
# Cargar el archivo Excel en un DataFrame
file_path = 'town_index.xlsx'  # Reemplaza con la ruta correcta
data = pd.read_excel(file_path)
data

,url,pelmorex_id,name,province,coords
0,https://www.eltiempo.es/mallecina.html,ESO1194,Mallecina,Asturias,"(43.4486049, -6.2560516)"
1,https://www.eltiempo.es/arcocha.html,ESXX9534,Arcocha,Vizcaya,"(43.2616921, -2.9262609)"
2,https://www.eltiempo.es/torrejon.html,ESXX16949,Torrejon,Teruel,"(41.1279977, -0.1457861)"
3,https://www.eltiempo.es/pousacarro.html,ESXX11553,Pousacarro,A Coruña,"(42.6799704, -8.9830592)"
4,https://www.eltiempo.es/lomo-pelado.html,ESXX12715,Lomo Pelado,Tenerife,"(28.4395342, -16.3684563)"
...,...,...,...,...,...
22075,https://www.eltiempo.es/salmanton.html,ESXX13913,SalmantÃ³n,Alava,"(43.0527377, -3.087735)"
22076,https://www.eltiempo.es/aldeaseca-de-armuna.html,ESXX20100,Aldeaseca de ArmuÃ±a,Salamanca,"(41.0199908, -5.6714315)"
22077,https://www.eltiempo.es/vegas-de-matute.html,ESXX3400,Vegas de Matute,Segovia,"(40.7950056, -4.2777553)"
22078,https://www.eltiempo.es/anzanigo.html,ESXX1041,AnzÃ¡nigo,Huesca,"(42.4022125, -0.6500413)"
22079,https://www.eltiempo.es/el-puente-del-arzobisp...,ESXX7628,El Puente del Arzobispo,Toledo,"(39.8031703, -5.1718509)"

In [12]:
# Usar el método groupby para contar pueblos/ciudades por provincia
province_counts = data.groupby('province')['name'].count()

# Mostrar los resultados
print(province_counts)

province
A Coruña        847
Alava           324
Albacete        361
Alicante        358
Almeria         347
Asturias       1789
Avila           395
Badajoz         287
Baleares        172
Barcelona       447
Burgos         1128
Caceres         318
Cadiz           112
Castellon       224
Ciudad Real     157
Corboba         145
Cuenca          369
Girona          515
Granada         451
Guadalajara     476
Guipuzcoa       677
Huelva          206
Huesca          726
Jaen            384
La Rioja        260
Las Palmas      207
Leon           1296
Lleida          395
Lugo            909
Madrid          322
Malaga          159
Murcia          489
Navarra         657
Ourense         506
Palencia        434
Pontevedra      386
Salamanca       583
Segovia         359
Sevilla         188
Soria           484
Tarragona       233
Tenerife        381
Teruel          356
Toledo          246
Valencia        431
Valladolid      284
Vizcaya         391
Zamora          493
Zaragoza        367
Name: name, dtype: int64

In [10]:
# Encontrar la provincia con la mayor y menor cantidad
most_populous_province = province_counts.idxmax()
least_populous_province = province_counts.idxmin()

# Obtener la cantidad correspondiente a la provincia más y menos poblada
most_populous_count = province_counts[most_populous_province]
least_populous_count = province_counts[least_populous_province]

# Mostrar los resultados
print(f"Provincia más poblada: {most_populous_province} con {most_populous_count} pueblos/ciudades")
print(f"Provincia menos poblada: {least_populous_province} con {least_populous_count} pueblos/ciudades")

Provincia más poblada: Asturias con 1789 pueblos/ciudades
Provincia menos poblada: Cadiz con 112 pueblos/ciudades

In [11]:
# Calcular la media de pueblos/ciudades por provincia
average_province_population = province_counts.mean()

# Mostrar el resultado
print(f"Media de pueblos/ciudades por provincia: {average_province_population:.2f}")

Media de pueblos/ciudades por provincia: 449.61

In [16]:
# Crear un DataFrame vacío para almacenar los datos filtrados
filtered_data = pd.DataFrame(columns=data.columns)

# Iterar a través de cada provincia y seleccionar hasta 400 localidades
for province in province_counts.index:
    province_data = data[data['province'] == province].head(200)
    filtered_data = pd.concat([filtered_data, province_data])

# Guardar los datos filtrados en un nuevo archivo Excel
new_file_path = 'new_town_index.xlsx'  # Ruta donde deseas guardar el nuevo archivo
filtered_data.to_excel(new_file_path, index=False)

print(f"Se han guardado los datos filtrados en '{new_file_path}'")

Se han guardado los datos filtrados en 'new_town_index.xlsx'